@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
body {
    font-family: "Bree Serif";
  position: relative;
}
body p{
  font-family: 'Noto Sans JP' !important;
}

.header {
  background-image: url("../assets/m.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 50px;
  position: relative;
}

#firstContainer > p,
#firstContainer > h1,
#firstContainer > h3 {
  color: white;
}




.header .social-links {
  margin-top: 40px;
  display: flex;
}

.header .social-links a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.header .social-links a:hover {
  background: #f0a500;
}

@media (max-width: 992px) {
  .header h1 {
    font-size: 36px;
  }
  .header h2,
  .header h3 {
    font-size: 20px;
    line-height: 30px;
  }

  .header .social-links {
    margin-top: 15px;
  }
  .header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* For nav links  */
.navbar a {
  color: white;
  font-weight: normal; 
}

.navbar a:hover {
  color: #f0a500 !important; 
  font-weight: normal; 
  text-decoration-line: underline;
}
.navbar a:active {
  color: #f0a500 !important; 
  font-weight: normal; 
  text-decoration-line: underline;
}





.header {
  background-image: url("../assets/m.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  padding-top: 50px;
  position: relative;
 
}
.container > p,
.container > h1,
.container > h3 {
  color: white;
}
.someDevProject{
  margin-top: 50px;
  color: black;
  text-align: center;
}
.skills{
  color: black; text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  
}

.skills  h1{
  text-align: center;
  margin: 10px 0;
  margin-top: 25px;
  margin-bottom: 25px;
  color: black;
}

.recommendedBooks{
  margin-top: 50px;
  color: black;
  text-align: center;
}



/* for intrest class in about page */

  .page-container{
    padding: 0;display: flex;flex-direction: column;justify-content: space-between;
  }
  .card-body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
 .btn-warning{
   color: black;
 }
 #contact-cards .social-links{
   margin-top: 0;
 }
 .navbar{
   padding-top: 0 !important;
   padding-bottom: 0 !important;
 }
 .footer-copyright a{
   color: #f0a500 ;
 }