body {
  /*background-image: url("../assets/fb.jpg");*/
  /* font-family: "Open Sans", sans-serif;
    background-color: #040404;
    background: transparent;
    color: #fff; */
    font-family: "Roboto";
  position: relative;
}

.header {
  background-image: url("../assets/m.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 50px;
  position: relative;
}

#firstContainer > p,
#firstContainer > h1,
#firstContainer > h3 {
  color: white;
}




.header .social-links {
  margin-top: 40px;
  display: flex;
}

.header .social-links a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.header .social-links a:hover {
  background: #18d26e;
}

@media (max-width: 992px) {
  .header h1 {
    font-size: 36px;
  }
  .header h2 {
    font-size: 20px;
    line-height: 30px;
  }

  .header .social-links {
    margin-top: 15px;
  }
  .header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* For nav links  */
.nav a {
  color: white;
  font-weight: normal; 
}

.nav a:hover {
  color: #18d26e;
  font-weight: normal; 
  text-decoration-line: underline;
}

/* For social Links */


.iconify {
  color: white;
  background: #553b08;
}

#about {
  margin: 10px;
  color: #000000;
}

.nav > li {
  display: inline-block;
}

.ReaderPage {
  background-image: url("../assets/books.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  padding-top: 50px;
  position: relative;
}

#quouteReading > p {
  color: red;
}

.devProject {
  margin-top: 50px;
  color: black;
  text-align: center;
}

.footer {
  background-color: black;
  text-align: center;
  color: white;
}
/* tryiiiiing space */
.header {
  background-image: url("../assets/m.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  padding-top: 50px;
  position: relative;
}
.container > p,
.container > h1,
.container > h3 {
  color: white;
}
.someDevProject{
  margin-top: 50px;
  color: black;
  text-align: center;
}

.skills  h1{
  text-align: center;
  margin: 10px 0;
  margin-bottom: 5px;
  color: black;
}

.recommendedBooks{
  margin-top: 50px;
  color: black;
  text-align: center;
}

blockquote:before {
  content: open-quote;
  margin-right: 4px
}

blockquote:after {
  content: close-quote;
  margin-left: 3px
}


/* for intrest class in about page */
.interests .info-box {
  color: #444444;
  padding: 20px;
  width: 300px;
  height: 80px;
  background: #fe7171;
  }
  
  .interests .info-box i.bx {
    font-size: 24px;
    color: #18d26e;
    border-radius: 50%;
    padding: 14px;
    float: left;
    background: rgba(255, 255, 255, 0.1);
    }
    
  .interests .info-box h3 {
  font-size: 20px;
  color: black;
  font-weight: 700;
  margin: 10px 0 8px 68px;
  }
  