body {
    /*background-image: url("../assets/fb.jpg");*/
    /* font-family: "Open Sans", sans-serif;
    background-color: #040404;
    background: transparent;
    color: #fff; */
    position: relative;
    
  }


 .header{
    background-image: url("../assets/m.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 50px;
    position: relative;
 }
 #firstContainer > p, h1, h3{
     color:white ;
 }

   .about{
    height: 100vh;
   }
 .social_links {
    margin: 5px 0 0 68px;
    display: flex;
  }

  /* For social Links */

  .fa {
    /* padding: 20px; */
  font-size: 30px;
   width: 30px; 
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
  border-color: #000000;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  
  .fa-instagram {
    color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
  }
  
  
  .fa-soundcloud {
    background: #ff5500;
    color: white;
  }
  .fa-github{
    background: #444444;
    color: white;
  }
  .iconify{
    color: white;
    background: #553b08;
  }

  #about{
      margin : 10px;
      color: #000000;
  }

  .nav>li {
    display: inline-block;
    }

    .ReaderPage{
      background-image: url("../assets/books.jpg");
       background-size: cover;
      background-repeat: no-repeat;
      height: 500px;
      padding-top: 50px;
      position: relative;

    }
  
    #quouteReading > p{
    color: red;
    }

